{# extend the base twig template so we can load the upload block in this seperate file #}
{% extends 'ExcelSheetToWebPageConverter/base.twig' %}

{# this block will be triggered in base.twig #}
{% block upload %}
    {# the next 3 divs are for bootstrap #}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            {# enctype in this form makes it able to post a file to the server #}
            <form id="excelSheetUploadForm" method="post" enctype="multipart/form-data"
                  class="col-md-4 position-absolute top-50 start-50 translate-middle">
                <h3 style="color: lightgray">Convert excel sheet to web page</h3>
                <div class="mb-3">
                    <input type="file" id="excelSheet" class="form-control" aria-label="excel sheet" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Convert</button>
                </div>
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
    {# load plain text out of a js file into this script todo: needs improvement #}
    <script>{{ source('ExcelSheetToWebPageConverter/js/script.js') }}</script>
{% endblock %}